@use "Styles/variables";

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	@include variables.center;

	z-index: 2;
	flex-direction: column;
	text-align: center;
	pointer-events: none;
	user-select: none;

	&.open {
		pointer-events: all;
	}
}