@use "Styles/variables";

.link {
	outline: none;
	border: none;
	margin: 5px 0;
	@include variables.center;
	position: relative;
	font-size: min(19vw, 120px);
	transition: letter-spacing 0.2s;
	background-color: transparent;
	@include variables.textRotation;


	@media #{variables.$mq-800} {
		margin: 0;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background-color: #fff;
		transform-origin: 50% 50%;
		transform: scaleX(0);
		transition-duration: 0.5s;
		box-shadow: 0 2.5px 5px rgba(#000, 0.25), 0 0 10px rgba(#000, 0.2);

		@media #{variables.$mq-800} {
			height: 6px;
		}
	}
}

.link > .link-letter {
	opacity: 0;
	pointer-events: none;
	transform: scale(0) rotateX(180deg) translateY(-150%);
}

.menu > .link#linkHome > .link-letter,
.menu > .link#linkWork > .link-letter,
.menu > .link#linkLabs > .link-letter  {
	@include variables.splitTextStaggerReversal(4);
}

.menu > .link#linkContact > .link-letter {
	@include variables.splitTextStaggerReversal(7, 1100ms, 300ms);
}

.menu.open > .link#linkHome > .link-letter,
.menu.open > .link#linkWork > .link-letter,
.menu.open > .link#linkLabs > .link-letter  {
	@include variables.splitTextStagger(4, 700ms, 600ms);
}

.menu.open > .link#linkContact > .link-letter {
	@include variables.splitTextStagger(7, 850ms, 750ms);
}

.menu.open > .link > .link-letter {
	opacity: 1;
	pointer-events: none;
	transform: scale(1) rotateX(0deg) translateY(0%);
}

.menu.open > .link.active#linkHome,
.menu.open > .link.active#linkWork,
.menu.open > .link.active#linkLabs {
	&::after {
		transform: scaleX(1);
		transition: transform 0.5s 2350ms;
	}
}

.menu.open > .link.active#linkContact {
	&::after {
		transform: scaleX(1);
		transition: transform 0.5s 2500ms;
	}
}

.menu.open > .link.hoverable {
	&:hover {
		letter-spacing: 0;

		&::after {
			transform: scaleX(1);
			transition: transform 0.5s 0ms;
		}
	}
}