@use "Styles/variables";

.alex-text {
	@include variables.center;

	flex-direction: column;

	@media #{variables.$mq-957} {
		margin-top: -6%;
	}

	&>h1 {
		@include variables.center;

		font-size: 25vw;
		@include variables.textRotation;
		margin: -0.2em 0;

		@media #{variables.$mq-670} {
			font-size: 20vw;
		}

		@media #{variables.$mq-890} {
			font-size: 17.5vw;
		}

		@media #{variables.$mq-1150} {
			font-size: min(16vw, 230px);
		}

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&>.text-letter {
			@include variables.splitLetterHiddenState;
		}
	}
}

.home.active .alex-text > #alex > .text-letter {
	@include variables.splitTextStagger(4, 550ms);
}

.home.active .alex-text > #figliolia > .text-letter {
	@include variables.splitTextStagger(9, 550ms);
}

.home.active .alex-text > h1 > .text-letter {
	@include variables.splitLetterVisibleState;
}