/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */
@import "Styles/variables";

:export {
  smallScreenTransition: $smallScreenTransition;
  largeScreenTransition: $largeScreenTransition;
  screenInnerTransition: $screenInnerTransition;
}