/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */
@import "Styles/variables";

:export {
  smallScreenScale: $smallScreenScale;
  largeScreenScale: $largeScreenScale;
  screenInnerTransition: $screenInnerTransition;
}