@import "Styles/variables";

.page.contact > .content {
	&>div {
		@include center;

		flex-direction: column;

		&>.buttons {
			width: 90%;
			margin-top: 10px;

			@include center;

			flex-flow: row wrap;
		}
	}
}