@use "Styles/variables";

.page.contact > .content {
	&>div {
		@include variables.center;

		flex-direction: column;

		&>.buttons {
			width: 90%;
			margin-top: 10px;

			@include variables.center;

			flex-flow: row wrap;
		}
	}
}