@use "Styles/variables";

.scene {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: opacity 1s 0s, visibility 0s 1s;
  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 0s, visibility 0s 0s;
  }
}