@use "Styles/variables";

.page.privacy > .content {
	&>div {
		@include variables.center;

		flex-direction: column;
	}
}

.open-policy-button {
	margin-top: 40px;
}

.open-policy-button.active > .outline-button {
	&::after,
	&::before {
		transition: height 0.4s, transform 0.4s 2s;
	}

	&>div {
		&::after,
		&::before {
			transition: transform 0.4s 2.4s;
		}
	}
}