@use "Styles/variables";

.page {
	background: url("Images/background-small.webp") no-repeat center;
	background-size: cover;

	@media #{variables.$mq-670} {
		background: url("Images/background-large.webp") no-repeat center;
		background-size: cover;
	}

	&>.content {
		height: 100%;
		width: 100%;
		@include variables.center;

		text-align: center;
		user-select: none;
	}
}